.container__waiting {
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: #C0A685;
    border-radius: 10px;
    text-align: center;
    
    .bolded {
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        width: 100vw;
        height: 100vh;
    }
}