.container__waiting {
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: #C0A685;
    border-radius: 10px;
}